[Desktop Entry]
Type=Application
Version=1.1
Name=osu!
Icon=sh.ppy.osu
MimeType=application/x-osu-beatmap;application/x-osu-skin;application/x-rar;x-scheme-handler/osu
Comment=A free-to-win rhythm game. Rhythm is just a *click* away!
Comment[ru]=Наилучшая бесплатная ритм-игра. Ритм всего лишь в клике от тебя!
Comment[it]=Il miglior gioco di ritmo free-to-win. Il ritmo è solo ad un click di distanza!
Comment[de]=Das besteste free-to-play rhythmusspiel. Der rhythmus ist nur einen klick entfernt!
Comment[hu]=A legeslegjobb ingyen játszható ritmusjáték. A ritmus csak egy kattintásra van!
Comment[ja]=基本料無料で最高のリズムゲーム. リズムはもう、その指先に!
Comment[pl]=Darmowa gra rytmiczna. rytm jest tylko o klik stąd!
Comment[fr]=Le meilleur jeu de rythme free-to-win. Rhythm is just a click away!
Comment[es]=El mejor juego de ritmo gratis. El ritmo está a un solo clic de distancia!
Exec=osu %F
Terminal=false
Categories=Game;ArcadeGame;
Keywords=circles;beat;
Keywords[ru]=осу;кружочки;
X-Desktop-File-Install-Version=0.24
StartupWMClass=osu!
StartupNotify=true
